@use "functions";
@use "media";

//
//  Utilities: Container
//  ---------------------------------------------

$content-sizes: functions.empty-map() !default;

$content-size__gap__tablet-down: 20px !default;
$content-size__gap__tablet: 30px !default;
$content-size__margin: 0 auto !default;
$content-size__width: 100% !default;

$content-sizes: functions.map-deep-merge(
  (
    content-size-xs: 320px,
    content-size-s: 430px,
    content-size-sm: 640px,
    content-size-m: 1140px,
    content-size-sl: 1220px,
    content-size-l: 1440px,
    content-size-xl: 1640px,
    content-size-xxl: 1920px,
    content-size-xxxl: 2560px,
    content-size-fullscreen: 100%,
  ), 
  $content-sizes,
);

@each $size, $width in $content-sizes {
  @include media.media('tablet-down') {
    .#{$size} {
      max-width: calc($width + ($content-size__gap__tablet-down * 2));
      margin: $content-size__margin;
      width: $content-size__width;
      padding: 0 $content-size__gap__tablet-down;
    }
  }
  @include media.media('tablet') {
    .#{$size} {
      max-width: calc($width + ($content-size__gap__tablet * 2));
      margin: $content-size__margin;
      width: $content-size__width;
      padding: 0 $content-size__gap__tablet;
    }
  }
}