//
//  Colors
//  ---------------------------------------------

:root {
  --base__color-1: #000000;
  --base__color-2: #FFFFFF;
  --base__color-3: #F3F3F3;
}

:root.dark-mode {
  --base__color-1: #FFFFFF;
  --base__color-2: #000000;
  --base__color-3: #101010;
}